body {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

div.header {
    margin: 0rem;
    padding: 0rem;
    background-color: orange;
}

#magazine-header {
    margin: 0rem;
    margin-left: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:white;
    background-color: orange;
    padding: 1rem;
    font-size: 400%;
}