@font-face {
    font-family: batmanFont;
    src: url(Fonts/batmfa__.ttf);
}
@font-face {
    font-family: slalomFont;
    src: url(Fonts/Diamant2-Bjx3.ttf);
}

:root {
    --batman-color: rgba(255, 210, 0, 1);
}

@keyframes spin {
    from {transform: rotate(360deg)}
    to {transform: rotate(0deg)}
}

body {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    background-color: rgba(52, 52, 52, 1);
}

div.topbar {
    display: flex;
    margin: 0rem;
    padding: 1rem 0.5rem 1rem 0.5rem;
    background-color: var(--batman-color);
    box-shadow: 0.3rem 0.3rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}
#topbar {
    justify-content: space-evenly;
    margin: auto;
    font-family: batmanFont;
    color:black;
    background-color: var(--batman-color);
    font-size: 2rem;
    text-decoration: underline;
}
#topbar:hover {
    color: #702100;
}

#batman-logo1 {
    max-height: 4rem;
    max-width: auto;
}

.spin {
    animation-name: spin;
    animation-duration: 2s;
}

.history1, .features {
    font-family: slalomFont;
    font-size: 150%;
    color: rgba(205, 205, 205, 1);
    padding: 2rem;
    background-color: rgba(52, 52, 52, 0);
    box-shadow: 0.2rem 0.2rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
    margin-top: 0.5rem;
    float: left;
    background-color: rgba(0, 0, 0, 0.2);
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 2rem;
    margin-right: 2rem;
    line-height: 1.1;
    font-weight: bold;
}
.history1 > h1, .features > h1 {
    font-family: batmanFont;
}

.links1, .links2, .links3 {
    font-family: batmanFont;
    text-align: center;
    box-shadow: 0.2rem 0.2rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 200%;
    margin-top: 3.5rem;
    padding: 2rem;
}
a#links {
    color: var(--batman-color);
    text-align: center;
}
#wikipedia, #batmobile-history, #batman-wiki {
    max-width: 32rem;
    height: auto;
}

#stats-image {
    box-shadow: 0.2rem 0.2rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
    margin-top: 6.5rem;
    margin-left: 4rem;
    float: left;
    max-width: 40rem;
    height: auto;
}

.stats-div {
    float: right;
    max-width: 32rem;
}

#stats-header {
    font-family: batmanFont;
    color: var(--batman-color);
    padding: 2rem;
    box-shadow: 0.2rem 0.2rem 0.5rem 0.2rem rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.2);
}

#stats-block {
    font-family: batmanFont;
    font-size: 160%;
    color: rgba(205, 205, 205, 1);
    padding: 2rem;
    box-shadow: 0.2rem 0.2rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.2);
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1.5rem;
    float: right;
}

h1 {
    color: var(--batman-color);
}

#batmobile-60s, #patent-image {
    float: right;
    max-width: 45rem;
    max-height: auto;
    margin: 1rem;
    margin-top: 5.5rem;
    box-shadow: 0.2rem 0.2rem 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
    margin-right: 2rem;
}
#patent-image {
    max-width: 25rem;
    height: auto;
    margin-top: 2rem;
}

img#test-image {
    display: block;
    max-width: auto;
    height: 30rem;
    margin: 2.5rem auto 2rem auto;
    box-shadow: 0.1rem 0.1rem 0.6rem 0.3rem rgba(0, 0, 0, 0.5);
}
p#test-text, h1#test-text, a#test-text {
    display: block;
    margin: 1rem auto 0.5rem auto;
    text-align: center;
    font-family: batmanFont;
    color: var(--batman-color);
    max-width: 32rem;
}

a#test-text:hover {
    color: rgba(210, 165, 0, 1);
}

.small-stats {
    display: none;
}

@media (max-width: 800px) {
    div.topbar {
        padding: 0.5rem 0.25rem 0.5rem 0.25rem;
    }

    #topbar {
        font-size: 1rem;
    }

    #batman-logo1 {
        max-height: 2rem;
        max-width: auto;
    }

    .history1, .features {
        line-height: 1.2;
        font-size: 150%;
        max-width: 85%;
    }

    #batmobile-60s {
        float: none;
        max-width: 30rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #patent-image {
        max-width: 18rem;
        margin-left: 1rem;
    }
}

@media (max-width: 1882px) {
    #stats-image {
        max-width: 40rem;
        margin-top: 9.5rem;
    }
}

@media (max-width: 1739px) {
    #stats-image {
        max-width: 30rem;
        margin-top: 12rem;
    }
}

@media (max-width: 1578px) {
    #stats-block {
        font-size: 120%;
    }
}

@media (max-width: 1346px) {
    #stats-block {
        display: none;
    }
    .stats-div {
        display: none;
    }
    #stats-header {
        display: none;
    }
    #stats-image {
        display: none;
    }

    .small-stats {
        display: block;
    }
    #small-stats-block {
        font-family: batmanFont;
        font-size: 160%;
        color: rgba(205, 205, 205, 1);
        padding: 2rem;
        box-shadow: 0.2rem 0.2rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
        background-color: rgba(0, 0, 0, 0.2);
    }
    #small-stats-header {
        text-align: center;
        font-family: batmanFont;
        color: var(--batman-color);
    }
    #small-stats-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 50%;
        height: auto;
        margin-bottom: 0rem;
        box-shadow: 0.2rem 0.2rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
        margin-top: 3rem;
    }
    .features {
        margin-top: 0rem;
    }
}